<h1>Articles listing page </h1>

<%=render 'article' %>
<p>
    <%=link_to 'Create new Article', new_article_path%> |
    <%=link_to 'Home Page', root_path %> |
    <%=link_to 'Signup Today!', signup_path %>
</p>
