<center>
<H1>About Page</H1>
<div class="content">
Article 19 of the Universal Declaration of Human Rights, adopted in 1948, states that: <br/>
Everyone has the right to freedom of opinion and expression; this right includes freedom <br/>
 to hold opinions without interference and to seek, receive and impart information and ideas <br/>
  through any media and regardless of frontiers.
</div>
<%=link_to 'Articles Listing', articles_path %> |
<%=link_to 'Home Page', root_path %> |
<%=link_to 'Signup Today!', signup_path %> |
<%=link_to 'Users Listing', users_path %> 
</center>
