<center><H1> Welcome to the HomePage </H1></center>

<div class = "container" id = "home-container">
    <div class="jumbotron text-center">
        <h1 class="display-4">BlogSite</h1>
        <p class="lead">A platform for your Freedom of Speech</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Signup Today!</a>
    </div>
</div>
<center>
<%=link_to 'Articles Listing', articles_path %> |
<%=link_to 'About Page', about_path %> |
<%=link_to 'Signup Today!', signup_path %> | 
<%=link_to 'Users Listing', users_path %> 
</center>